# Build folders
build/
build_debug/
cmake-build-*/
out/

# CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile

# Binaries
*.exe
*.out
*.app
*.o
*.obj
*.so
*.so.*
*.a

# Logs / runtime junk
*.log

# IDEs
.vscode/
.idea/
*.user
*.suo

# OS
.DS_Store
Thumbs.db

# Optional: compiled database
compile_commands.json